body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use 'min-height' em vez de 'height' para evitar problemas em telas pequenas */
}

h1 {
    margin-top: 2%; /* Espaçamento superior ajustado para telas menores */
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
    color: #fff;
}

iframe {
    border-radius: 20px;
    box-shadow: 0 0 0.2em rgb(21, 255, 0), 0 0 0.2em rgb(21, 255, 0), 0 0 0.2em rgb(21, 255, 0);
    max-width: 100%;
    width: 80%; /* Ajuste a largura para que o vídeo se ajuste à tela do celular */
    height: auto; /* Vídeo ajustado para telas menores */
}

/* Estilo para a tabela */
table {
    width: 80%; /* Ajuste a largura para que a tabela se ajuste à tela do celular */
    margin: 2% auto; /* Centralize a tabela horizontalmente */
}

.title-box {
    font-family: 'Kanit', sans-serif;
    background: #222;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    width: 80%; /* Largura ajustada para telas menores */
    text-align: center;
    margin: 2% auto; /* Espaçamento superior e centralização horizontal */
}

/* Estilo para o botão */
button {
    height: 3rem;
    width: 80%; /* Largura ajustada para telas menores */
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2% auto; /* Centralize o botão horizontalmente e adicione um espaço superior e inferior */
    text-decoration: none;
}

button:hover {
    background: #33ff00;
}

/* Estilo para o retângulo do resultado */
.result-box {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    background: #ffffff;
    border-radius: 0 0 10px 10px;
    width: 80%; /* Largura ajustada para telas menores */
    text-align: center;
    margin: 2% auto; /* Centralize o retângulo horizontalmente e adicione um espaço superior e inferior */
}

@media (max-width: 768px) {
    /* Estilos para telas menores que 768px de largura */
    .container {
        width: 100%;
    }
}
